name: Import release from another repository

on: workflow_dispatch

jobs:
  transfer-release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: Download Release Assets
      run: |
        curl -LJO -H "Authorization: Bearer ${{ secrets.PRIVATE_REPO_TOKEN }}" $(curl -s -H "Authorization: Bearer ${{ secrets.PRIVATE_REPO_TOKEN }}" https://api.github.com/repos/Cleboost/Infernus-Launcher-V2/releases/latest | jq -r '.assets[0].browser_download_url')
    - name: Create New Release
      uses: actions/create-release@v1
      id: create_release
      with:
        tag_name: v1.0
        release_name: Release v1.0
        body: |
          This is the first release of the repo.
        draft: false
        prerelease: false
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./release.zip
        asset_name: release.zip
        asset_content_type: application/zip
        token: ${{ secrets.PUBLIC_REPO_TOKEN }}
