name: Import release from another repository

on: workflow_dispatch

jobs:
  import-release:
    runs-on: ubuntu-latest
    steps:
    - uses: robinraju/release-downloader@v1.7
      with:
        token: "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"
        repository: "Cleboost/Infernus-Launcher-V2"
        latest: true
        fileName: "*"
        
    - run: ls
