name: Import release from another repository

on: workflow_dispatch

jobs:
  import-release:
    runs-on: ubuntu-latest
    steps:
    - uses: robinraju/release-downloader@v1.7
      with:
        token: "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"
        repository: "Cleboost/Infernus-Launcher-V2"
        latest: true
        fileName: "*"
        
    - run: ls
